version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspaces/ApacheSpark-CD:cached
    network_mode: service:db # Compartilha o localhost com o banco
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres_password
      POSTGRES_DB: retail_db
    ports:
      - "5432:5432"
    volumes:
      # Mapeia os seus scripts para a pasta de inicialização automática do Postgres
      - ../data/retail_db/create_db.sql:/docker-entrypoint-initdb.d/1_create.sql
      - ../data/retail_db/load_db_tables_pg.sql:/docker-entrypoint-initdb.d/2_load.sql
      # Mapeia a pasta data para que o comando 'COPY' do Postgres encontre os CSVs
      - ../data:/workspaces/ApacheSpark-CD/data